{% extends "Base/auth.html" %}

{% block authForm %}
    <h3>Welcome <strong>Back</strong></h3>
    <p class="mb-4">Let's schedule. The world is waiting</p>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}