{% extends "Base/auth.html" %}

{% block authForm %}
    <h3>Schedule and <strong>Meet</strong></h3>
        <p class="mb-4">Begin your journey. It's free</p>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-row mt-3">
                    <label for="" class="col-form-label">{{ field.label }}</label>
                    <div class="col-md-12">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <p class="muted">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-row mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
 {% endblock %}