{% extends "Base/base.html" %}
{% load static %}
{% block body %}
    <div class="home">
        <section class="row align-items-center">
            <div class="col col-xl-4 col-lg-3 col-md-3 col-12">
                <div class="banner-left">
                    <div class="banner-box left-top-box">
                        <div class="title">
                            <h2>Your Calendar, Your Way</h2>
                            <p> Effortlessly manage your calendar, receive instant notifications, and adapt schedules on-the-go. </p>
                        </div>
                    </div>
                    <div class="banner-box left-bottom-box">
                        <div class="title">
                            <h2>Seamless Connections, Instant Bookings</h2>
                            <p>Stay organized and reclaim valuable time, focusing on what matters most—your business, your time.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-3 col-md-3 col-12">
                <div class="banner-center">
                    <div class="banner-main-container">
                        <img src="{% static 'images/banner1.jpeg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-3 col-md-3 col-12">
                <div class="banner-right">
                    <div class="banner-box right-box">
                        <div class="title">
                            <h2> Engineered for Growth</h2>
                            <p>Simplify bookings to focus on business growth. Our platform streamlines appointments, fostering an environment for business expansion.</p>
                        </div>
                    </div>
                    <div class="banner-box">
                        <div class="title">
                            <h2>All for free. No hidden charges</h2>
                            <p> Elevate your scheduling game at zero cost, ensuring efficiency without impacting your budget. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about">
            <div>
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-12 col-sm-12">
                        <div class="about-title">
                            <h2> Book, Connect, Grow </h2>
                            <p><span>The best part?</span> No hidden charges, no subscriptions—just an intuitive system to help you master meetings without impacting your budget. </p>
                        </div>
                    </div>
                </div>
                <div class="about-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="about-banner">
                                <img src="{% static 'images/about2.jpeg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-features">
                                <p> Whether you're a solopreneur, a growing SME, or a startup striving for excellence, Metton empowers you to make the most of your time. Elevate your scheduling game, connect seamlessly with your clients, and drive towards your goals without the hassle.  </p>
                                <p> The goal is simple: to provide you with a stress-free, efficient appointment management solution that's accessible to all. </p>
                                <div class="features-wrapper">
                                    <div class="feature shadow-sm d-flex align-items-stretch">
                                        <div class="feature-img d-flex align-items-center">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="feature-desc d-flex flex-column align-items-left">
                                            <h4>Scheduling</h4>
                                            <p> Set your available hours or close off some dates. We set the tone, you make the rules. </p>
                                        </div>
                                    </div> 
                                    <div class="feature shadow-lg d-flex align-items-stretch about-connect">
                                        <div class="feature-img d-flex align-items-center">
                                            <i class="fa fa-network-wired"></i>
                                        </div>
                                        <div class="feature-desc d-flex flex-column align-items-left ">
                                            <h4>Connections</h4>
                                            <p>  Drive your business towards success without the unnecessary complexities. </p>
                                        </div>
                                    </div> 
                                    <div class="feature shadow-sm d-flex align-items-stretch">
                                        <div class="feature-img d-flex align-items-center">
                                            <i class="fa fa-chart-line"></i>
                                        </div>
                                        <div class="feature-desc d-flex flex-column align-items-left">
                                            <h4>Growth</h4>
                                            <p>  Metton ensures every meeting fits seamlessly into your success plans.   </p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="showcase">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-12 col-12">
                        <div class="caption">
                            <h3>Efficiency Starts Here</h3>
                            <p>With Metton, booking becomes a breeze for both guests and clients.  Impress clients with a professional booking experience, ultimately enhancing your brand's reputation. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center showcase-wrap">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="showcase-cover">
                        <img src="{% static 'images/showcase1.jpeg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="showcase-text">
                        <div class="content d-flex flex-column align-items-start">
                            <span><a href="{% url 'register' %}">Scheduled Perfectly</a></span>
                            <p> Enjoy the ease of managing your appointments with simplified bookings, ensuring a hassle-free experience. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="container">
               <div class="row justify-content-center">
                    <div class="col-xl-12 col-12">
                        <div class="cta d-flex flex-column align-content-center ">
                            <h3> Why Wait? </h3>
                            <p>No hidden charges, no subscriptions</p>
                            <span>Metton adapts to your needs, allowing easy modifications and syncing across various calendars. </span>

                            <div class="justify-content-center">
                                <button>START NOW</button>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
            <div class="copyright d-flex justify-content-around">
                <div class="container">
                    <p class="">&copy; {{ curr_year }} Metton. All rights reserved. </p>
                    <p>Developed by Mona Moxie </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}