.git
venv
frontend/node_modules
frontend/.pnp

frontend/.pnp.js
frontend/.yarn/install-state.gz

frontend/coverage
frontend//.next/
frontend/out/

frontend/.DS_Store

frontend/npm-debug.log*


.vscode
venv
.env
*.pyc
__pycache__
core/media/*
.DS_Store