.git
venv
src/frontend/node_modules
src/frontend/.pnp

src/frontend/.pnp.js
src/frontend/.yarn/install-state.gz

src/frontend/coverage
src/frontend/.next/
src/frontend/out/

src/frontend/.DS_Store

src/frontend/npm-debug.log*


.vscode
venv
.env
*.pyc
__pycache__
src/api/core/media/*
.DS_Store