PROJECT_NAME=Metton
SECRET_KEY="REPLACE_THIS_WITH_YOUR_RANDOM_KEY123"
PROJECT_ENV=development
DEBUG=True
ALLOWED_HOSTS="*"
CSRF_TRUSTED_ORIGINS=''
SERVER_PORT=80
UPSTREAM_SERVER=python

BASE_URL=http://127.0.0.1:8080/

DB_ENGINE="django.db.backends.postgresql"
DB_NAME=example_db
DB_HOST=postgres
DB_PORT=3306
DB_HOST_PORT=3306
DB_USER=example_user
DB_PASSWORD=example_password
# Root user pass
DB_ROOT_PASSWORD=example_root_password

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
SERVER_EMAIL=
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL=
DEFAULT_FROM_NAME=

CELERY_BROKER_URL=
RABBITMQ_PORT=5672
RABBITMQ_MGT_PORT=15672
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_SES_REGION_NAME=
AWS_SES_REGION_ENDPOINT=