networks:
  metton_network:
    driver: bridge

services:
  postgres:
    image: postgres:latest
    container_name: ${PROJECT_NAME}_postgres
    ports:
      - "${DB_HOST_PORT:-5434}:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - metton_network

  python:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile.python
    container_name: ${PROJECT_NAME}_python
    volumes:
      - ./src/api:/app
      - static_volume:/var/www/static
      - media_volume:/app/core/media
    ports:
      - "8000:8000"
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - metton_network

  nginx:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile.nginx
    container_name: ${PROJECT_NAME}_nginx
    volumes:
      - static_volume:/var/www/static
      - media_volume:/app/core/media
      - ./.nginx/templates:/etc/nginx/templates
      - ./src/api/core/static:/app/core/static
    ports:
      - "${SERVER_PORT}:80"
    env_file:
      - .env
    depends_on:
      - python
    networks:
      - metton_network

  node:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile.node
    container_name: ${PROJECT_NAME}_node
    environment:
      NODE_ENV: ${PROJECT_ENV}
    ports:
      # TODO :::
      # after migrating all existing functionalities over to React/Nextjs,
      # this port will no longer be publicly accessible. Rather, Nginx will handle traffic to it as it deems fit
      - 3200:3000
    volumes:
      - ./src/frontend:/app:rw
    depends_on:
      - python
    networks:
      - metton_network

  rabbitmq:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile.rabbitmq
    container_name: ${PROJECT_NAME}_rabbitmq
    hostname: rabbitmq
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_MGT_PORT}:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    networks:
      - metton_network

volumes:
  static_volume:
  media_volume:
  postgres_data:
  rabbitmq_data:
