asgiref==3.7.2
Django==4.2.4
django-dump-die==0.1.5
django-tempus-dominus==5.1.2.17
mysqlclient==2.2.0
Pillow==10.0.1
PyMySQL==1.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
typing-extensions==4.7.1
