{% extends "Base/auth.html" %}
{% load widget_tweaks %}
{% block authForm %}
    <h3>Request a <strong>New Password</strong></h3>
    <p class="mb-4">It is so simple. Let's start</p>
    <form action="{% url 'forgot-password' %}" method="post">
        {% csrf_token %}
         {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.name }}" class="col-sm-5 col-form-label">{{ field.label }}</label> 
                {% render_field field class="form-control" placeholder="Please provide your email address" %}
            </div>
        {% endfor %}
        <div class="form-row">
            <button type="submit" class="btn btn-theme">Submit</button>
        </div>
    </form>
    <div class="mt-4 d-flex justify-content-between flex-wrap">
        <div>
            Changed your mind? <a href="{% url 'signin'%}"><button class="btn btn-sm btn-outline-secondary ">Sign In</button></a> 
        </div>
    </div>
{% endblock %}