{% extends "Base/auth.html" %}
{% load widget_tweaks %}
{% block authForm %}
    <h3>Schedule and <strong>Meet</strong></h3>
        <p class="mb-4">Start your journey. It's free</p>
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-row mt-3">
                    <label for="" class="col-form-label">{{ field.label }}</label>
                    <div class="col-md-12">
                        {{ field|add_class:"form-control" }}
                    </div>
                    {% if field.help_text %}
                        <p class="muted">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-row mt-4">
                <button type="submit" class="btn btn-theme">Submit</button>
            </div>
        </form>
        <div class="mt-3">Already have an account? <a href="{% url 'signin'%}"><button class="btn btn-sm btn-outline-secondary ">Login</button></a> 
        </div>
        {% if template_data.has_terms_of_service or template_data.has_privacy_policy %}
            <div class="mt-4 terms-agreement">By creating an account, you confirm you agree to our
                {% if template_data.has_terms_of_service %}
                    <a href="/terms" target="_blank">terms</a> 
                {% endif %}

                {% if template_data.has_terms_of_service and template_data.has_privacy_policy %}and{% endif %}
                
                {% if template_data.has_privacy_policy %}
                    <a href="/privacy" target="_blank">privacy policy</a> 
                {% endif %}
            </div>
        {% endif %}
 {% endblock %}