{% extends "Base/auth.html" %}

{% block authForm %}
    <h3>Welcome <strong>Back</strong></h3>
    <p class="mb-4">Let's schedule. The world is waiting</p>
    <form action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-theme">Submit</button>
        </div>
    </form>
    <div class="mt-4 d-flex justify-content-between flex-wrap">
        <div>
            No account yet? <a href="{% url 'signup'%}"><button class="btn btn-sm btn-outline-secondary ">Create Account</button></a> 
        </div>
        <div>
            <a href="{% url 'forgot-password' %}">Forgot Password?</a>
        </div>
    </div>
{% endblock %}