{% extends "Base/email.html" %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" align="center" width="640"
    style="width: 640px; min-width: 640px;" role="presentation"
    bgcolor="#ebeaf9">
    <tbody>
        <tr>
            <td valign="top" bgcolor="#FFFFFF">
                <table cellpadding="0" cellspacing="0" border="0" align="center"
                    width="640" style="width: 640px; min-width: 640px;"
                    role="presentation">
                    <tr>
                        <td height="60"
                            style="line-height:60px;min-height:60px;">
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" align="center"
                    width="640" style="width: 640px; min-width: 640px;"
                    role="presentation">
                    <tbody>
                        <tr>
                            <td align="center"
                                style="color:#45535C;padding:20px 40px 0 40px;font-family: 'Lato', Arial, Helvetica, sans-serif;font-weight:800;font-size:34px;-webkit-font-smoothing:antialiased;line-height:1.2;"
                                class="table-container mobile-title">
                                You have a new password! <br>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"
                                style="color:#45535C;padding:20px 40px 0 40px;font-family: 'Lato', Arial, Helvetica, sans-serif;font-weight:normal;font-size:16px;-webkit-font-smoothing:antialiased;line-height:1.4;"
                                class="table-container">
                                Your password has just been updated. 
                            </td>
                        </tr>
                        <tr>
                            <td height="40"
                                style="line-height:40px;min-height:40px;">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"
                                style="color:#45535C;padding:20px 40px 0 40px;font-family: 'Lato', Arial, Helvetica, sans-serif;font-weight:normal;font-size:11px;-webkit-font-smoothing:antialiased;line-height:1.4;"
                                class="table-container">
                                If you did not take this action, it means someone else just had access to your account. Request a password reset and this time, ensure you use a combination that is easy for you to remember but hard for others to guess.  
                                <br /><br />
                                <quote>
                                    <a href="{{ template_data.base_url }}{% url 'dashboard' %}" 
                                    style="background-color: #060; color: #ffffff; display: inline-block;font-family: 'Lato', Arial, Helvetica, sans-serif; font-size: 16px; line-height: 10px; text-align: center; font-weight: bolder; text-decoration: none; padding: 10px 15px; min-width: 100px; -webkit-text-size-adjust: none; border-radius: 5px">
                                    My Account </a>
                                </quote>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" align="center"
                    width="640" style="width: 640px; min-width: 640px;"
                    role="presentation">
                    <tr>
                        <td height="60"
                            style="line-height:60px;min-height:60px;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}