{% extends "Base/dashboard.html" %}

{% block head_script %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek'
        });
        calendar.render();
      });
    </script>
{% endblock %}

{% block dashboard-content %}
<div class="row">
    <div class="col-md-4">
        <div class="profile-img">
            {% if user.profile_photo is not None %}
                <img src="{{ user.profile_photo.url }}" alt="Profile Photo" />
            {% else %}                                        
                <img src="http://placehold.it/180" alt="Profile Photo" />
            {% endif %}
        </div>
        <div class="profile-work">
            <p>ABOUT ME</p>
            {{ user.profile_summary }}
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-8">
                <div class="profile-header-section">
                    <h2>{{ user.name }}</h2>
                    <h6 class="mb-5">
                        {% if user.position is not None %}
                            {{ user.position }},
                        {% endif %}
                        {{ user.company }}
                    </h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="meetings">
                    <h4> Friday, 28th Janaury </h4>
                    <span>Next Meeting</span>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Schedule</a>
                        </li>
                    </ul>
                    <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}