{% extends "Base/dashboard.html" %}

{% block dashboard-main-content %}
    <div class="card text-center">
        <div class="card-header">
            <h3 class="card-title">Change Password Profile</h3>
        </div>
        <div class="card-body profile-form">
            <form method="POST" action="{% url 'password.update' %}" >
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        {% for field in form %}
                            <div class="form-group row mb-2">
                                <label for="" class="col-sm-5 col-form-label">{{ field.label }}</label>
                                <div class="col-sm-7">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-12">
                        <div class="form-group m-auto">
                            <button type="submit" class="btn btn-primary btn-block">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}