/* generic */
@media(max-width: 767px) {
    .main-nav {
        padding: 5px 10px 5px 0px;
    }

    .main-nav .navbar-toggler {
        margin-top: 20px;
        margin-right: 5px;
    }

    .navbar-collapse {
        padding-left: 45px;
    }

}

@media(min-width: 1000px) and (max-width: 1700px) {
    .main-nav a {
        font-weight: 500;
    }
}

/* about */
@media (max-width: 767px) {
    .about {
        padding: 70px 10px;
    }

    .about-title h2 {
        font-size: 25px;
    }

    .about-content {
        margin-top: -40px;
    }

    .about-banner {
        margin-bottom: 40px;
    }

    .about-features {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-features .features-wrapper {
        margin-top: 25px;
    }

    .about-features .feature .feature-img {
        padding: 10px;
    }

    .about-features .feature .feature-desc {
        padding: 20px 15px;
    }

    .about-features .feature .feature-desc h4 {
        font-weight: bolder;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .about-features {
        padding-left: 3px;
        padding-right: 3px;
        text-align: justify;
    }
}

@media (max-width: 768px) and (max-width: 999px) {
    .about-title h2 {
        font-size: 45px;
    }
}

/* showcase */
@media(max-width: 999px) {
    .showcase {
        padding: 80px 10px;
    }

    .showcase .caption {
        margin: 0 auto 0px;
    }

    .showcase .caption h3 {
        font-size: 35px;
    }

    .showcase .caption p {
        font-size: 16px;
        font-weight: 200;
        line-height: 26px;
    }

    .showcase .showcase-cover {
        margin-right: 0px;
        overflow: hidden;
        padding: 0px;
        position: relative;
        z-index: 1;
    }

    .showcase .showcase-cover img {
        width: 100%;
    }

    .showcase .showcase-text {
        margin-top: 0px;
        background: inherit;
        border: 1px solid inherit;
        margin-left: 0px;
        padding: 0px;
    }

    .showcase .showcase-text .content {
        border: none;
        padding: 50px 10px 50px 15px;
    }

    .showcase .showcase-text .content p {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 0;
    }
}

@media(max-width: 400px) {
    .showcase {
        padding-top: 60px;
    }

    .showcase .caption h3 {
        font-size: 25px;

    }

    .showcase .caption p {
        font-size: 14px;
        font-weight: 200;
        line-height: 24px;
    }
}

@media(min-width: 768px) and (max-width: 1299px) {

    .showcase {
        padding: 90px 20px;
    }

    .showcase .caption h3 {
        font-size: 45px;
    }

    .showcase .caption {
        margin: 0 auto 30px;
    }

    .showcase .caption p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .showcase .showcase-cover {
        margin-right: 0px;
        padding: 0px;
    }

}

@media(min-width: 1000px) and (max-width: 1299px) {
    .showcase .showcase-cover {
        margin-right: 0px;
        overflow: hidden;
        padding: 0px;
        position: relative;
        z-index: 1;
    }

    .showcase .showcase-cover img {
        width: 100%;
    }

    .showcase .showcase-text {
        margin-top: 0px;
        background: inherit;
        border: 1px solid inherit;
        margin-left: 0px;
        padding: 0px;
    }

    .showcase .showcase-text .content {
        padding: 50px 10px 50px 15px;
    }

    .showcase .showcase-text .content p {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 0;
    }
}

@media(min-width: 1700px) {
    .showcase .showcase-text {
        margin-top: 250px;
    }
}


/* footer */
@media (max-width: 767px) {
    .footer .cta {
        padding: 30px 0px;
    }

    .footer .cta h3 {
        color: #000;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        text-align: center;
    }

    .footer .cta p {
        font-size: 20px;
    }
}