/* generic */
@media(max-width: 767px) {
    .main-nav {
        padding: 5px 10px 5px 0px;
    }

    .main-nav .navbar-toggler {
        margin-top: 20px;
        margin-right: 5px;
    }

    .navbar-collapse {
        padding-left: 45px;
    }

}

@media (min-width: 2500px) {
    .metton-container {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media(max-width: 999px) {
    .main-nav a {
        font-size: 18px;
    }
}

@media(min-width: 1000px) and (max-width: 1700px) {
    .main-nav a {
        font-weight: 500;
        font-size: 20px;

    }
}

/* banner boxes */
@media(max-width: 767px) {

    .banner-left,
    .banner-right {
        position: relative;
        top: 0px;
    }

    .banner-left .left-bottom-box {
        display: none;
    }

    .banner-box {
        margin-bottom: 0px;
        padding: 20px;
        max-width: 550px;
        width: 90%;
        border-radius: 0px;
        margin-top: 10px;
    }

    .banner-box .title {
        border-radius: 0px;
        padding: 50px 10px;
    }

    .banner-left .left-bottom-box,
    .banner-left .left-top-box,
    .banner-right .right-top-box {
        display: none;
    }

    .banner-center {
        margin: 10px auto 20px;
        width: 90%;
        max-width: 350px;
    }

    .banner-right .right-bottom-box {
        margin: auto;
    }

    .banner-right {
        left: 0px;
    }
}

@media(min-width: 1000px) and (max-width: 1900px) {
    .home {
        padding: 40px 0 0;
    }

    .banner-left,
    .banner-right {
        top: 50px;
    }

    .banner-box {
        width: 470px;
        margin-bottom: 80px;
    }

    .banner-box .title h2 {
        font-size: 23px;
    }

    .banner-box .title p {
        font-size: 14px;
    }
}

@media(min-width: 1200px) and (max-width: 1400px) {
    .banner-box {
        max-width: 390px;
    }

    .banner-box .title h2 {
        font-size: 21px;
    }
}

@media(min-width: 768px) and (max-width: 1199px) {
    .banner-box {
        width: 300px;
        max-width: 100%;
        border-radius: 0px;
        margin-bottom: 18px;
    }

    .banner-box .title h2 {
        font-size: 21px;
    }

    .col-left {
        display: none;
    }

    .banner-left {
        position: static;
    }

    .banner-row>div {
        width: 40%;
        flex-direction: row;
    }

    .banner-row>div:nth-child(2) {
        width: 60%;
        flex-direction: row;
    }

    .banner-row>div>div {
        margin: auto;
    }

    .banner-row>div>div.banner-right {
        margin: auto;
    }

    .banner-center {
        margin: auto;
    }

    .banner-right {
        position: relative;
        left: unset;
        right: 0px;
        top: 10px;
        max-width: 100%;
    }

    .banner-row {
        flex-direction: row;
        flex-wrap: nowrap;
        flex-basis: content;
        align-content: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }



    .banner-row>div>div.banner-right .banner-box {
        margin: auto;
    }

    .banner-box .title {
        border-radius: 0px;
        padding: 50px 10px;
    }

}

@media(min-width: 900px) and (max-width:1200px) {
    .banner-right {
        top: 10%;
    }
}

/* about */
@media (max-width: 767px) {
    .about {
        padding: 70px 10px;
    }

    .about-title h2 {
        font-size: 25px;
    }

    .about-content {
        margin-top: -40px;
    }

    .about-banner {
        margin-bottom: 40px;
    }

    .about-features {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-features .features-wrapper {
        margin-top: 25px;
    }

    .about-features .feature .feature-img {
        padding: 10px;
    }

    .about-features .feature .feature-desc {
        padding: 20px 15px;
    }

    .about-features .feature .feature-desc h4 {
        font-weight: bolder;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .about-features {
        padding-left: 3px;
        padding-right: 3px;
        text-align: left;
        line-height: 25px;
    }
}

@media (max-width: 768px) and (max-width: 999px) {
    .about-title h2 {
        font-size: 45px;
    }
}

/* showcase */
@media(max-width: 999px) {
    .showcase {
        padding: 80px 10px;
    }

    .showcase .caption {
        margin: 0 auto 0px;
    }

    .showcase .caption h3 {
        font-size: 35px;
    }

    .showcase .caption p {
        font-size: 16px;
        font-weight: 200;
        line-height: 26px;
    }

    .showcase .showcase-cover {
        margin-right: 0px;
        overflow: hidden;
        padding: 0px;
        position: relative;
        z-index: 1;
    }

    .showcase .showcase-cover img {
        width: 100%;
    }

    .showcase .showcase-text {
        margin-top: 0px;
        background: inherit;
        border: 1px solid inherit;
        margin-left: 0px;
        padding: 0px;
    }

    .showcase .showcase-text .content {
        border: none;
        padding: 50px 10px 50px 15px;
    }

    .showcase .showcase-text .content p {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 0;
    }
}

@media(max-width: 400px) {
    .showcase {
        padding-top: 60px;
    }

    .showcase .caption h3 {
        font-size: 25px;

    }

    .showcase .caption p {
        font-size: 14px;
        font-weight: 200;
        line-height: 24px;
    }
}

@media(min-width: 768px) and (max-width: 1299px) {

    .showcase {
        padding: 90px 20px;
    }

    .showcase .caption h3 {
        font-size: 45px;
    }

    .showcase .caption {
        margin: 0 auto 30px;
    }

    .showcase .caption p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .showcase .showcase-cover {
        margin-right: 0px;
        padding: 0px;
    }

}

@media(min-width: 1000px) and (max-width: 1299px) {
    .showcase .showcase-cover {
        margin-right: 0px;
        overflow: hidden;
        padding: 0px;
        position: relative;
        z-index: 1;
    }

    .showcase .showcase-cover img {
        width: 100%;
    }

    .showcase .showcase-text {
        margin-top: 0px;
        background: inherit;
        border: 1px solid inherit;
        margin-left: 0px;
        padding: 0px;
    }

    .showcase .showcase-text .content {
        padding: 50px 10px 50px 15px;
    }

    .showcase .showcase-text .content p {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 0;
    }
}

@media(min-width: 1700px) {
    .showcase .showcase-text {
        margin-top: 250px;
    }
}


/* footer */
@media (max-width: 767px) {
    .footer .cta {
        padding: 30px 0px;
    }

    .footer .cta h3 {
        color: #000;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        text-align: center;
    }

    .footer .cta p {
        font-size: 20px;
    }
}



/* Dashboard */
@media(max-width: 767px) {
    .dashboard-wrapper {
        padding-top: 20px;
    }

    .dashboard-wrapper .dashboard {
        padding-left: 0px;
        padding-right: 0px;
    }

    .dashboard-wrapper .dashboard-container {
        box-shadow: none;
    }

    .appointments-header {
        border-top-right-radius: none;
        border-top-left-radius: none;
        padding: 0px 0px 20px;
    }

    .appointments-header>.row {
        border: none;
        padding: 1px 2px;
    }

    .appointments-header>.row>.col-sm-12>.d-flex {
        display: block !important;
    }

    .appointments-header .profile-img {
        margin-bottom: 10px;
    }

    .appointments-header .profile-header-section h6 {
        margin-top: 5px;
    }

    .appointments-header .profile-header-section {
        display: flex;
        flex-wrap: wrap;
    }

    .appointments-header .meetings {
        font-size: 13px;
        font-weight: 500;
        text-align: left !important;
    }

    .appointments .fc-header-toolbar {
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .appointments .fc-header-toolbar .fc-toolbar-chunk {
        margin: 15px 0px 20px 0;
    }

    .appointments .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {

        width: 100%;
    }

    .appointments .fc-header-toolbar .fc-toolbar-chunk .fc-toolbar-title {
        font-size: 16px;
    }

    .dashboard-wrapper .dashboard-height {
        min-height: auto;
        margin-bottom: 30px;
    }

    .metton-calendar-card .card-body {
        display: none !important;
    }

    .unsupported-device {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        text-align: center;
    }

    .unsupported-device span {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}

@media(min-width: 767px) and (max-width:999px) {
    .dashboard-wrapper {
        padding-top: 20px;
    }

    .dashboard-wrapper .dashboard {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dashboard-wrapper .dashboard-height {
        min-height: auto;
        margin-bottom: 30px;
    }

    .dashboard-wrapper .dashboard-container {
        box-shadow: none;
    }
}