/* Generic */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap');

:root {
    --dmsans: 'DM Sans', sans-serif;
    --purple: #4c0bce;
    --purple: #460eb5;
    --white: #fff;
}

body {
    font-family: var(--dmsans);
    background-color: #e6e6e6;
}

/* Navigation */
.main-nav {
    background-color: var(--purple);
}

.main-nav a {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
}

.dropdown-menu {
    background-color: var(--purple);
}

.nav-item:hover a {
    color: orange;
}


/* Authentication */
.auth-wrapper {
    margin-top: 0;
}

.auth-bg {
    background-image: url("/assets/img/bg.jpeg");
}

.auth-wrapper,
.auth-wrapper .container>.row {
    height: 100vh;
    min-height: 700px;
}

.auth-wrapper .auth-form-area .auth-box {
    padding: 60px 80px;
}

@media (max-width: 991.98px) {
    .auth-bg {
        height: 200px;
    }
}

.auth-wrapper .auth-form-area {
    background: #f6f7fc;
}

.auth-wrapper .auth-form-area,
.auth-wrapper .auth-bg {
    width: 50%;
}

@media (max-width: 999px) {
    .auth-wrapper .auth-form-area {
        width: 100%;
    }

    .auth-wrapper .auth-bg {
        display: none;
    }
}

.auth-wrapper .auth-form-area .form-control,
.auth-bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #fff;
}

.auth-wrapper .auth-form-area .form-control:active,
.auth-wrapper .auth-form-area .form-control:focus,
.auth-bg .form-control:active,
.auth-bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.auth-wrapper .auth-bg {
    background-size: cover;
    background-position: center;
}

.auth-wrapper a {
    color: #888;
    text-decoration: underline;
}

.auth-wrapper .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}

.auth-wrapper .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

.control .caption {
    position: relative;
    top: .2rem;
    color: #888;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #fb771a;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #fb8633;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none;
}

.control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.control input:checked~.control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
    background-color: #7e0cf5;
    opacity: .2;
}






/* Dashboard */
.dashboard-wrapper {
    background: -webkit-linear-gradient(left, #140f61, #073b49);
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.dashboard-wrapper .dashboard-container {
    padding: 50px;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-header-section {
    text-align: left;
}

.profile-header-section h2 {
    text-align: left;
}

.profile-header-section h6 {
    color: #454444;
    line-height: 1px;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.profile-header-section .nav-tabs {
    margin-bottom: 5%;
}

.profile-header-section .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-header-section .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

.profile-form {
    text-align: left;
}

.profile-photo-preview {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin: auto;
}

.profile-photo-preview img {
    width: 100%;
    height: 100%;
}

.fc .fc-non-business {
    background: #900;
}

.fc .fc-unavailable {
    background: orange;
}

