/* Generic */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap');
@import 'https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i';

:root {
    --dmsans: 'DM Sans', sans-serif;
    --poppins: 'poppins, Helvetica, sans-serif';
    --purple: #460eb5;
    --white: #fff;
    --off-white: #f7f7f7;
    --gray: #2c3e50;
    --skin: #eae6dc;
    --main-theme: #967643;
    --theme-greenery: #022315;
    --theme-greenery: #045a36;
    --shadow-lg: 0 0 100px -5px rgba(0, 0, 0, .25);
}

body {
    font-family: var(--dmsans);
    background: #e6e6e6;
}

html,
body {
    width: 100%;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.form-control[readonly="readonly"] {
    background-color: var(--skin);
}

.form-check-input:checked {
    background-color: var(--main-theme);
    border-color: var(--main-theme);
}

.btn-theme {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--main-theme);
    --bs-btn-border-color: var(--main-theme);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--theme-greenery);
    --bs-btn-hover-border-color: var(--theme-greenery);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--main-theme);
    --bs-btn-active-border-color: var(--main-theme);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--skin);
    --bs-btn-disabled-border-color: var(--skin);
}

.text-theme {
    color: var(--main-theme);
}

.text-green {
    color: var(--theme-greenery);
}

.text-red {
    color: var(--theme-greenery);
    color: rgb(103, 16, 25);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Navigation */
.main-nav {
    background-color: #bcac83;
    background-color: #9f7e48;
    background-color: var(--main-theme);
    padding: 5px 95px;
}

.main-nav .navbar-brand img {
    width: 200px;
}

.navbar-toggler {
    background-color: var(--skin);
    border: none;
}

.main-nav a {
    color: var(--white);
    font-weight: 400;
    letter-spacing: 200;
    font-size: 21px;
}


.dropdown-menu {
    background-color: var(--skin);
}

.dropdown-item:hover {
    background-color: var(--skin);
}

a.dropdown-item {
    color: #000;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--white);
}

.nav-item:hover>a {
    color: var(--skin);
}

.theme-color-gray {
    color: var(--gray)
}





/* Authentication */
.auth-wrapper {
    margin-top: -20px;
}

.auth-wrapper,
.auth-wrapper .container>.row {
    height: 100vh;
    min-height: 700px;
}

.auth-wrapper .auth-form-area {
    padding: 150px 10px;
    background: var(--white);
}

.auth-wrapper .auth-form-area .auth-box {
    padding: 60px 80px;
    box-shadow: var(--shadow-lg);
    max-width: 650px;
}

.auth-wrapper .auth-form-area {
    width: 100%;
}

.auth-wrapper .auth-form-area .form-control,
.auth-bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #e8F0Fe;
}

.auth-wrapper .auth-form-area .form-control:active,
.auth-wrapper .auth-form-area .form-control:focus,
.auth-bg .form-control:active,
.auth-bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.auth-wrapper .auth-form-area label {
    font-weight: 500;
}

.auth-wrapper .auth-bg {
    background-size: cover;
    background-position: center;
}

.auth-wrapper a {
    color: #888;
    text-decoration: underline;
}

.auth-wrapper .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}

.auth-wrapper .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}




/* Dashboard */
.dashboard-wrapper {
    background: #eeeee8;
    margin: 0;
    margin-top: -20px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.unsupported-device {
    display: none;
}

.dashboard-wrapper .dashboard-height {
    min-height: 100vh;
}

.dashboard-wrapper .dashboard {
    padding-left: 75px;
    padding-right: 75px;
}

.dashboard-wrapper .dashboard .card {
    background-color: var(--off-white);
}

.modal-content {
    background-color: var(--off-white);
}

.modal-content .modal-header,
.modal-content .modal-body {
    padding: 20px 35px;
}

.modal-content .modal-header {
    background: var(--main-theme);
    color: var(--white);
}

.dashboard-wrapper .dashboard .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--white);
    background-color: var(--main-theme);
    border-color: var(--skin);
}

.dashboard-wrapper .dashboard-container {
    background: rgba(33, 37, 41, 0.03);
    box-shadow: var(--shadow-lg);
}

.dashboard-wrapper .dashboard-container .next-appointent-time h1 {
    font-weight: bolder;
}

.dashboard-wrapper .dashboard-container .next-appointent-date h6 {
    font-size: 24px;
}

.appointments-header {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 15px 20px;
    background: var(--skin);
}

.appointments-header>.row {
    border: 1px solid var(--main-theme);
    padding: 15px 20px;
    margin-left: 0;
    margin-right: 0;
}

.appointments .fc-header-toolbar {
    margin-top: -4px;
    margin-bottom: -4px !important;
    padding: 1.5em 1em;
}

.sidebar-content {
    min-height: 700px;
    max-width: 100%;
    min-width: 100%;
    display: table;
    border-bottom: 100px solid var(--skin) !important;
    position: relative;
    background: var(--off-white);
}

.sidebar-content .card {
    border: none;
}

.sidebar-content .card hr {
    border-top: 1px solid var(--main-theme);
}

.sidebar-content .sidebar-header {
    background: var(--skin);
    padding: 25px;
}

.sidebar-content .sidebar-header h4 {
    font-weight: bolder;
}




.profile-img {
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden
}

.profile-img img {
    max-width: 1000%;
    height: 100%;
}

.profile-header-section h6 {
    color: #454444;
    line-height: 25px;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.profile-header-section .nav-tabs {
    margin-bottom: 5%;
}

.profile-header-section .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-header-section .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

.profile-photo-preview {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin: auto;
}

.profile-photo-preview img {
    width: 100%;
    height: 100%;
}


.close-calendar-modal {
    font-size: 24px;
    cursor: pointer;
}



.meeting-link .input-group-text {
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.frequency {
    padding: 4px 20px;
}

.meeting-link .input-group-text:hover {
    background-color: #0d6efd;
}

.meeting-link .input-group-text:hover i {
    color: var(--white);
}



/* Meet */
.meet-wrapper {
    width: 100%;
    margin: 0;
}

.meet-wrapper .container {
    margin: 90px auto;
    box-shadow: var(--shadow-lg);
    border-radius: 32px;
    overflow: hidden;
}

.meet-wrapper .profile-section {
    padding: 70px 30px 45px;
    background: linear-gradient(#0b7080, #0ba376);
    background: linear-gradient(#052952, #046447);
}

.meet-wrapper .profile-section .profile-photo {
    max-width: 180px;
    max-height: 180px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.meet-wrapper .profile-section .profile-photo img {
    max-width: 100%;
    max-height: 100%;
}

.meet-wrapper .profile-section .profile-data {
    text-align: center;
    color: #fff;
    margin: 15px auto;
    font-family: var(--poppins);
    font-family: var(--dmsans);
}

.meet-wrapper .profile-section .profile-data h4 {
    font-weight: bold;
    font-size: 40px;
}

.meet-wrapper .booking-section {
    min-height: 700px;
}

.meet-wrapper .booking-section .meet-modal .modal-header {
    background: linear-gradient(#052952, #046447);
    color: #fff;
}

.meet-wrapper .booking-section .meet-modal .modal-header .modal-title {
    font-weight: 500;
}

.meet-wrapper .booking-section .meet-modal .modal-body {
    padding-left: 35px;
    padding-right: 35px;
}

.meet-wrapper .booking-section .meet-modal .modal-body .time-supercript {
    font-size: 10px;
    color: slategray;
    width: 40px;
    display: inline-block;
    text-align: right;
}

.meet-wrapper .booking-section .meet-modal .modal-body .event-extra-data i {
    color: grey !important;
}

.meet-wrapper .booking-section .meet-modal .modal-body textarea {
    resize: none;
}

.booking-completed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.booking-completed i {
    font-size: 70px;
}

.booking-completed p {
    font-size: 25px;
    margin-top: 10px;
}










/* Homepage */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 0;
    position: relative;
    z-index: 1;
    width: 100%;
    width: 100vw;
}

.banner-box {
    border-radius: 150px;
    background: var(--skin);
    margin-bottom: 158px;
    padding: 20px;
    position: relative;
    width: 550px;
    z-index: 101;
}

.banner-left,
.banner-right {
    position: absolute;
    top: 100px;
}

.banner-left {
    right: -10px;
}

.banner-right {
    left: -10px;
}

.banner-left .left-bottom-box {
    right: 0px;
}

.banner-right .right-bottom-box {
    left: 0px;
}

.banner-box .title {
    border: 1px solid #aca79a;
    border-radius: 130px;
    padding: 50px 70px;
}


.banner-center {
    margin-bottom: 100px;
}

.banner-main-container {
    border: 1px solid #aba596;
    border-radius: 300px;
    border-radius: 320px;
    padding: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.banner-main-container img {
    vertical-align: middle;
    border-radius: 300px;
    width: 100%;
}



/* about */
.about {
    padding: 120px 120px;
    background: #fff;
}

.about-title {
    margin: 0 auto 70px;
    position: relative;
    text-align: center;
}

.about-title p span {
    font-weight: bolder;
}

.about-title h2 {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.about-content {
    margin: auto;
}

.about-banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.about-banner img {
    width: 100%;
}

.about-features {
    padding-left: 25px;
}

.about-features .features-wrapper {
    margin-top: 45px;
}

.about-features .feature {
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.about-features .feature .feature-img {
    padding: 20px 20px;
    background: var(--skin);
}

.about-features .feature .feature-desc {
    padding: 20px 25px;
    font-size: 15px;
}


/* show case */
.showcase {
    background: #f8f5f3;
    position: relative;
    z-index: 1;
    padding: 130px 50px;
}

.showcase .caption {
    margin: 0 auto 70px;
    position: relative;
    text-align: center;
}

.showcase .caption h3 {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.showcase .caption p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.showcase .showcase-cover {
    cursor: pointer;
    margin-right: -140px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.showcase .showcase-cover img {
    width: 100%;
}

.showcase .showcase-text {
    margin-top: 120px;
    background: #fff;
    border: 1px solid #a8a8a8;
    margin-left: -200px;
    padding: 20px;
    z-index: -1;
}

.showcase .showcase-text .content {
    border: 1px solid #ccc;
    padding: 80px 50px 80px 300px;
}

.showcase .showcase-text .content span {
    background: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    padding: 8px 32px 8px 16px;
    margin-bottom: 30px;
}

.showcase .showcase-text .content span a {
    text-decoration: none;
    color: #fff;
}

.showcase .showcase-text .content span a:hover,
.showcase .showcase-text .content span a:visited {
    text-decoration: none;
    color: #fff;
}

.showcase .showcase-text .content h3 {
    cursor: pointer;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.showcase .showcase-text .content p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 0;
}

/* bottom-flyer */
.bottom-flyer {
    background: #dad2bd;
    font-size: 15px;
    overflow: hidden;
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
}

.bottom-flyer .cta {
    color: #000;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #a8a8a8;
    padding: 50px 100px;
}

.bottom-flyer .cta h3 {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
}

.bottom-flyer .cta p {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}

.bottom-flyer .cta button {
    background: #000;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: 60px;
    line-height: 30px;
    width: 211px;
    margin-top: 30px;
}

/* footer */
.footer .copyright {
    border-top: 1px solid #f8f5f3;
    margin-top: 0px;
    color: #fff;
    background-color: #7f6438;
    padding: 50px 0;
}



/* calendar */
.fc .fc-bg-event {
    opacity: 1 !important;
}

.fc a {
    color: var(--theme-greenery);
    text-decoration: underline;
}

.fc .fc-toolbar-title {
    color: var(--theme-greenery);
    font-weight: bold;
}

.meet-wrapper .booking-section .fc {
    margin: 40px 30px;
}

.meet-wrapper .fc .fc-timegrid-slot {
    height: 2.5em;
}

.fc .fc-non-business {
    background: rgb(215, 219, 239) !important;
    border-color: rgb(188, 195, 229) !important;
    opacity: 1 !important;
    color: #2c3e50 !important;

    background: var(--skin) !important;
    border-color: rgb(188, 195, 229) !important;
}

.fc-unavailable {
    background: #502c3c !important;
    opacity: 1 !important;
    color: #c0c0c0 !important;
}

.fc .fc-button-primary,
.fc .fc-button-primary:hover {
    background-color: var(--main-theme);
    border-color: var(--main-theme);
    color: var(--white);
}

.fc .fc-button-primary:disabled {
    background-color: var(--skin);
    border-color: var(--skin);
    color: var(--white);
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background-color: var(--theme-greenery);
    border-color: var(--theme-greenery);
}