/* Generic */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap');
@import 'https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i';

:root {
    --dmsans: 'DM Sans', sans-serif;
    --poppins: 'poppins, Helvetica, sans-serif';
    --purple: #460eb5;
    --white: #fff;
    --gray: #2c3e50;
}

body {
    font-family: var(--dmsans);
    background: #e6e6e6;
}

html,
body {
    width: 100%;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.navbar-toggler {
    background-color: #fff;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Navigation */
.main-nav {
    background-color: var(--purple);
}

.main-nav a {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
}

.dropdown-menu {
    background-color: var(--purple);
}

.dropdown-item:hover {
    background-color: var(--purple);
    color: rgb(188, 195, 229);
}

.nav-item:hover>a {
    color: orange;
    color: rgb(188, 195, 229);
}

.theme-color-gray {
    color: var(--gray)
}

/* Authentication */
.auth-wrapper {
    margin-top: 0;
}

.auth-bg {
    background-image: url("/assets/img/bg.jpeg");
}

.auth-wrapper,
.auth-wrapper .container>.row {
    height: 100vh;
    min-height: 700px;
}

.auth-wrapper .auth-form-area .auth-box {
    padding: 60px 80px;
}



.auth-wrapper .auth-form-area {
    background: #f6f7fc;
}

.auth-wrapper .auth-form-area,
.auth-wrapper .auth-bg {
    width: 50%;
}

.auth-wrapper .auth-form-area .form-control,
.auth-bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #fff;
}

.auth-wrapper .auth-form-area .form-control:active,
.auth-wrapper .auth-form-area .form-control:focus,
.auth-bg .form-control:active,
.auth-bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.auth-wrapper .auth-bg {
    background-size: cover;
    background-position: center;
}

.auth-wrapper a {
    color: #888;
    text-decoration: underline;
}

.auth-wrapper .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}

.auth-wrapper .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

.control .caption {
    position: relative;
    top: .2rem;
    color: #888;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #fb771a;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #fb8633;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none;
}

.control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.control input:checked~.control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
    background-color: #7e0cf5;
    opacity: .2;
}






/* Dashboard */
.dashboard-wrapper {
    background: -webkit-linear-gradient(left, #140f61, #073b49);
    margin: 0;
    /* padding-top: 50px;
    padding-bottom: 40px; */
    padding: 60px;
}

.dashboard-wrapper .dashboard-container {
    padding: 50px;
    border-radius: 0.5rem;
    background: #fff;
}

.sidebar-content {
    min-height: 700px;
    max-width: 100%;
    display: table;
    border-bottom: 100px solid rgb(215, 219, 239) !important;
    position: relative;
    padding: 25px;
    border-radius: 0.5rem;
    background: #fff;
}


.profile-img {
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden
}

.profile-img img {
    max-width: 1000%;
    height: 100%;
}

.profile-header-section h6 {
    color: #454444;
    line-height: 1px;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.profile-header-section .nav-tabs {
    margin-bottom: 5%;
}

.profile-header-section .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-header-section .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

.profile-photo-preview {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin: auto;
}

.profile-photo-preview img {
    width: 100%;
    height: 100%;
}

.fc .fc-non-business {
    background: rgb(215, 219, 239) !important;
    opacity: 1 !important;
    color: #2c3e50 !important;
    border-color: rgb(188, 195, 229) !important;
}

.fc-unavailable {
    background: #502c3c !important;
    opacity: 1 !important;
    color: #c0c0c0 !important;
}

.fc .fc-bg-event {
    opacity: 1 !important;
}

.close-calendar-modal {
    font-size: 24px;
    cursor: pointer;
}

.appointments .fc-header-toolbar {
    margin-top: -4px;
    margin-bottom: -4px !important;
    padding: 1.5em 1em;
}

.meeting-link .input-group-text {
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.frequency {
    padding: 4px 20px;
}

.meeting-link .input-group-text:hover {
    background-color: #0d6efd;
}

.meeting-link .input-group-text:hover i {
    color: var(--white);
}



/* Meet */
.meet-wrapper {
    width: 100%;
    margin: 0;
}

.meet-wrapper .container {
    margin: 90px auto;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, .25);
    border-radius: 32px;
    overflow: hidden;
}

.meet-wrapper .profile-section {
    padding: 70px 30px 45px;
    background: linear-gradient(#0b7080, #0ba376);
    background: linear-gradient(#052952, #046447);
}

.meet-wrapper .profile-section .profile-photo {
    max-width: 180px;
    max-height: 180px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.meet-wrapper .profile-section .profile-photo img {
    max-width: 100%;
    max-height: 100%;
}

.meet-wrapper .profile-section .profile-data {
    text-align: center;
    color: #fff;
    margin: 15px auto;
    font-family: var(--poppins);
    font-family: var(--dmsans);
}

.meet-wrapper .profile-section .profile-data h4 {
    font-weight: bold;
    font-size: 40px;
}

.meet-wrapper .booking-section {
    min-height: 700px;
}

.meet-wrapper .booking-section .fc {
    margin: 40px 30px;
}

.meet-wrapper .booking-section .meet-modal .modal-header {
    background: linear-gradient(#052952, #046447);
    color: #fff;
}

.meet-wrapper .booking-section .meet-modal .modal-header .modal-title {
    font-weight: 500;
}

.meet-wrapper .booking-section .meet-modal .modal-body {
    padding-left: 35px;
    padding-right: 35px;
}

.meet-wrapper .booking-section .meet-modal .modal-body .time-supercript {
    font-size: 10px;
    color: slategray;
    width: 40px;
    display: inline-block;
    text-align: right;
}

.meet-wrapper .booking-section .meet-modal .modal-body .event-extra-data i {
    color: grey !important;
}

.meet-wrapper .booking-section .meet-modal .modal-body textarea {
    resize: none;
}

.meet-wrapper .fc .fc-timegrid-slot {
    height: 2.5em;
}

.booking-completed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.booking-completed i {
    font-size: 70px;
}

.booking-completed p {
    font-size: 25px;
    margin-top: 10px;
}










/* Homepage */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0 0;
    position: relative;
    z-index: 1;
    width: 100%;
    width: 100vw;
}

.banner-box {
    border-radius: 150px;
    background: #eae6dc;
    margin-bottom: 158px;
    max-width: 640px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    z-index: 101;
}

.left-top-box {
    margin-right: -45px;
}

.right-box {
    margin-left: -45px;
}

.banner-highlight {
    align-items: center;
    background: #fff;
    border-radius: 65px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    display: flex;
    margin-left: -150px;
    max-width: 320px;
    padding: 20px;
    position: relative;
    text-align: left;
    z-index: 11;
}


.banner-box .title {
    border: 1px solid #aca79a;
    border-radius: 130px;
    padding: 50px 70px;
}



/* banner centr */
.banner-center {
    margin-bottom: 100px;
}


.banner-main-container {
    border: 1px solid #aba596;
    border-radius: 300px;
    border-radius: 320px;
    padding: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.banner-main-container img {
    vertical-align: middle;
    border-radius: 300px;
    width: 100%;
}



/* about */
.about {
    padding: 120px 120px;
    background: #fff;
}

.about-title {
    margin: 0 auto 70px;
    position: relative;
    text-align: center;
}

.about-title p span {
    font-weight: bolder;
}

.about-title h2 {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.about-content {
    margin: auto;
}

.about-banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.about-banner img {
    width: 100%;
}

.about-features {
    padding-left: 25px;
}

.about-features .features-wrapper {
    margin-top: 45px;
}

.about-features .feature {
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.about-features .feature .feature-img {
    padding: 20px 20px;
    background: #eae6dc;
}

.about-features .feature .feature-desc {
    padding: 20px 25px;
    font-size: 15px;
}


/* show case */
.showcase {
    background: #f8f5f3;
    position: relative;
    z-index: 1;
    padding: 130px 50px;
}

.showcase .caption {
    margin: 0 auto 70px;
    position: relative;
    text-align: center;
}

.showcase .caption h3 {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.showcase .caption p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.showcase .showcase-cover {
    cursor: pointer;
    margin-right: -140px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.showcase .showcase-cover img {
    width: 100%;
}

.showcase .showcase-text {
    margin-top: 150px;
    background: #fff;
    border: 1px solid #a8a8a8;
    margin-left: -200px;
    padding: 20px;
    z-index: -1;
}

.showcase .showcase-text .content {
    border: 1px solid #ccc;
    padding: 80px 50px 80px 400px;
}

.showcase .showcase-text .content span {
    background: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    padding: 8px 32px 8px 16px;
    margin-bottom: 30px;
}

.showcase .showcase-text .content span a {
    text-decoration: none;
    color: #fff;
}

.showcase .showcase-text .content span a:hover,
.showcase .showcase-text .content span a:visited {
    text-decoration: none;
    color: #fff;
}

.showcase .showcase-text .content h3 {
    cursor: pointer;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.showcase .showcase-text .content p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 0;
}

/* footer */
.footer {
    background: #dad2bd;
    background-size: cover;
    font-size: 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}

.footer .cta {
    color: #000;
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
}

.footer .cta span {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}

.footer .cta h3 {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    margin: 6px auto 30px;
    max-width: 510px;
    text-align: center;
}

.footer .cta button {
    background: #000;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: 60px;
    line-height: 30px;
    right: 10px;
    top: 10px;
    width: 211px;
}

.footer .copyright {
    margin-top: 55px;
}